<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Not Malicious</title>
        <meta charset="utf-8"/>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:800|Raleway:300" rel="stylesheet">
        <link href="not_malicious.css" type="text/css" rel="stylesheet"/>
        <link href="button.css" type="text/css" rel="stylesheet"/>
    </head>

    <body>
        <header class="header-wrapper">
            <div class="header-contents">
            <div class="col">About Us</div>
            <div class="col">Menu</div>
            <div class="col">Locations</div>
            </div>
        </header>
    
        <div class="Intro">
        <div class="Intro-container">
            <div class="name">Coffee YUM</div>
            <div class="slogan">Your Favorite Local Coffee Shop</div>

            <!-- Here is the non-malicious button -->
            <button onclick="window.location.href = 'not_malicious';">Explore Menu</button>

        </div> 
        </div> 

        <footer> 
            <div class="footer-contents">
            <div class="col">Twitter</div>
            <div class="col">Facebook</div>
            <div class="col">Instagram</div>
            <div class="col">Snapchat</div>
            </div>
        </footer> 

    </body>

</html>