button{
    display: inline-block;
    border: none;
    color: white;
    padding: 35px 50px;
    text-align: center;
    font-size: 40px;
    margin-right: 25px;
    font-family: 'Raleway', sans-serif;
    border-radius: 15px;
  }
  button {
    background-color: hsla(168, 44%, 35%, 1);
  }
  button:hover{
    background-color: rgb(70, 161, 143);
  }